:root {
  --font-family: 'DotGothic16', sans-serif;

  --background-color: #000;
  --font-color: #fff;
  --border-color: #fff;
  --font-color-secondary: #aaa;
}

html,
body {
  font-family: var(--font-family);
  margin: 0;
  color: var(--font-color);
  background-color: var(--background-color);
}
